@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin lightBlue {
    color: #C7DEFB;
}

@mixin darkBlue {
    color: rgb(62, 66, 92);
}

body {
    @include flexCenter();
    background-color: #E3E3E3;
    height: 100vh;
    width: 100vh;
    font-family: 'Noto Serif', serif;
    padding: 0px;
}

.container {
    background-color: rgb(62, 66, 92);
    height: 90vh;
    width: 900px;
}

// BOOKMARK MANAGER
.header-title {
    display: inline-block;
    color: #C7DEFB;
    font-size: 4rem;
    margin-left: 65px;
    margin-top: 40px;

}

// list of bookmarks
.example-bookmark1, .example-bookmark2 {
    @include flexCenter();
    background-color: #C7DEFB;
    height: 135px;
    width: 800px;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    cursor: pointer;
}



//icons

// add icon top right


.fa-plus-square {
    @include flexCenter();
    color: #C7DEFB;
    float: right;
}

.add-div:hover{
    .fa-plus-square {
        transition: color 0.25s ease-in-out; 
        color: rgb(117, 167, 89);
        cursor: pointer;
      
    }
}

.fa-heart, 
.fa-trash,
.fa-google,
.fa-facebook-square, 
.fa-globe {
    color: rgb(62, 66, 92);
}

//heart icon and animation
.heart-div{
    @include flexCenter();
    width: 90px;
}

.heart-div:hover, .complete-btn:hover{
    .fa-heart {
        transition: color 0.5s ease-in-out; 
        color: rgb(251, 99, 99);
      
    }
}

// trash icon and animation
.trash-div, .trash-btn {
    @include flexCenter();
    width: 90px;
}

.trash-div:hover, .trash-btn:hover{
    .fa-trash {
        transition: color 0.5s ease-in-out; 
        color: rgb(251, 99, 99);
    
    }
}

//-----------------------------------
// BOOKMARK LISTING STYLING
.icon-div {
    @include flexCenter();
    width:100px;
}

// bookmark title
.bookmark-title {
    font-size: 2.5rem;  
    width: 200px;
    color: rgb(62, 66, 92);
}

//url
.bookmark-url {
    font-size: 1.25rem;
    width: 320px;
    float: left;
    color: rgb(62, 66, 92);
}

//-----------------------------------
// INPUT LISTING
.new-bookmark {
    @include flexCenter();
    justify-content: space-evenly;
    width: 790px;
    height: 75px;
    margin-left: 50px;
    margin-top: 10px;
    border-color: #C7DEFB;
    border-style: solid;
    color: rgb(62, 66, 92);
}

.new-title {
    width: 200px;
    height: 40px;
    text-align: center;
    text-decoration: grey;
}

.new-url {
    width: 450px;
    height: 40px;
    text-align: center;
    text-decoration: grey;
}

// new bookmark input bar


.gen-icon {
    @include flexCenter();
    margin-left: 10px;
    //padding-left: 20px;
    display: inline-block;
    height: 135px;
    width: 100px;
    background-color: #C7DEFB;
    
}

.new-title-div {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    height: 135px;
    width: 200px;
    background-color: #C7DEFB;
    font-size: 2.5rem;
    color: rgb(62, 66, 92);
}
.new-url-div {
    display: inline-block;
    height: 135px;
    width: 320px;
    background-color: #C7DEFB;
    font-size: 1.25rem;
    color: rgb(62, 66, 92);
}

.complete-btn {
    display: inline-block;
    height: 135px;
    width: 90px;
    background-color: #C7DEFB;
}

.trash-btn {
    display: inline-block;
    height: 135px;
    width: 90px;
    background-color: #C7DEFB;
}



//-------------------------------------------------

// highlight function
/*
.example-bookmark1:visited{
    .example-bookmark1:focus{
        color: rgb(251, 99, 99);
    }
    .icon-div:focus {
        background-color: rgb(251, 99, 99);
    }
    .fa-google:focus {
        color:  #C7DEFB;
    }
    .bookmark-title {
        background-color: rgb(251, 99, 99);
    }
    .bookmark-url {
        background-color: rgb(251, 99, 99);
    }
    .heart-div {
        background-color: rgb(251, 99, 99);
    }
    .fa-heart:focus {
        color: #C7DEFB;
    }
    .trash-div {
        background-color: rgb(251, 99, 99);
    }
    .fa-trash:focus {
        color: #C7DEFB;
    }
}
*/
